@media only screen and (min-width: 1401px) and (max-width: 1000000px) {
  body::-webkit-scrollbar {
    display: none;
  }
  body #landing_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #303030;
    width: 700px;
    height: 530px;
    border-radius: 40px;
    box-shadow: 10px 10px 30px #201f1f;
  }
  body #laks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .landind_container {
    width: 100%;
    height: 100vh;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1900' height='1500' preserveAspectRatio='none' viewBox='0 0 1900 1500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3crect width='1900' height='1500' x='0' y='0' fill='rgba(21%2c 39%2c 57%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c484 C 95%2c461.4 285%2c362.4 475%2c371 C 665%2c379.6 760%2c595.4 950%2c527 C 1140%2c458.6 1235%2c5.8 1425%2c29 C 1615%2c52.2 1805%2c520.2 1900%2c643L1900 1500L0 1500z' fill='rgba(26%2c 86%2c 149%2c 0.82)'%3e%3c/path%3e%3cpath d='M 0%2c934 C 190%2c985.4 570%2c1212.2 950%2c1191 C 1330%2c1169.8 1710%2c900.6 1900%2c828L1900 1500L0 1500z' fill='rgba(14%2c 47%2c 81%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='1900' height='1500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }
  body .landind_container h1 {
    text-align: center;
    transition: 2s;
    margin: 0;
    margin-top: 60px;
    color: #f7e7d3;
    font-size: 80px;
    text-shadow: 0px 0px 50px #000000;
  }
  body .landind_container h2 {
    text-align: center;
    transition: 2s;
    margin: 0;
    margin-bottom: 60px;
    color: #f7e7d3;
    font-size: 38px;
    text-shadow: 0px 0px 10px #000000;
  }
  body .landind_container a {
    color: #f7e7d3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 150px;
    height: 50px;
    background-color: #2264AB;
    font-size: x-large;
  }
  body .landind_container a:hover {
    background-color: #1e5896;
    color: #faedde;
  }
  body .landind_container img {
    border-radius: 50px;
    padding-top: 30px;
    width: 600px;
  }
  body .paginator_container {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #2c2c2c;
    color: #f7e7d3;
    text-align: center;
    text-decoration: none;
  }
  body .paginator_container p {
    width: 150px;
  }
  body .paginator_container #desp {
    font-size: 18px;
    border: none;
    height: 30px;
    width: 100px;
    background-color: #f4fbff;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-border-radius: 0px 70px 70px 0px;
    -moz-border-radius: 0px 70px 70px 0px;
    border-radius: 0px 70px 70px 0px;
  }
  body .paginator_container #desp:hover {
    background-color: #aeb4bb;
    cursor: pointer;
  }
  body .paginator_container #antes {
    font-size: 18px;
    border: none;
    height: 30px;
    width: 100px;
    background-color: #e4f4ff;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-border-radius: 70px 0px 0px 70px;
    -moz-border-radius: 70px 0px 0px 70px;
    border-radius: 70px 0px 0px 70px;
  }
  body .paginator_container #antes:hover {
    background-color: #aeb4bb;
    cursor: pointer;
  }
  body .container_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: auto;
    background-color: #3b3b3b;
    color: #f7e7d3;
    text-align: center;
    text-decoration: none;
  }
  body .container_footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  body .container_footer #redes {
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body .container_footer #redes ul {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
  }
  body .container_footer #redes ul li {
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 10px;
  }
  body .container_footer #redes ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f7e7d3;
  }
  body .container_footer #redes ul li a:hover {
    background-color: #7a7a7a;
    border-radius: 30px;
    color: #f7e7d3;
    transition: 1s;
  }
  body .countires_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body .countires_texto h2 {
    transition: 0.5s;
    color: #f7e7d3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  body .countires_texto p {
    transition: 0.5s;
    width: 200px;
    color: #f7e7d3;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  body .countires_texto h3 {
    transition: 0.5s;
    color: #f7e7d3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  body .countries_card_container {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1900' height='2000' preserveAspectRatio='none' viewBox='0 0 1900 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1080%26quot%3b)' fill='none'%3e%3crect width='1900' height='2000' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M 0%2c566 C 126.8%2c465.2 380.4%2c44 634%2c62 C 887.6%2c80 1014.8%2c604 1268%2c656 C 1521.2%2c708 1773.6%2c388.8 1900%2c322L1900 2000L0 2000z' fill='rgba(26%2c 86%2c 149%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c1236 C 95%2c1134.2 285%2c771 475%2c727 C 665%2c683 760%2c980.8 950%2c1016 C 1140%2c1051.2 1235%2c858.8 1425%2c903 C 1615%2c947.2 1805%2c1170.2 1900%2c1237L1900 2000L0 2000z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c1712 C 126.8%2c1658.2 380.4%2c1421.6 634%2c1443 C 887.6%2c1464.4 1014.8%2c1781.6 1268%2c1819 C 1521.2%2c1856.4 1773.6%2c1667.8 1900%2c1630L1900 2000L0 2000z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1080'%3e%3crect width='1900' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    text-decoration: none;
    justify-content: center;
    padding-top: 70px;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 400px 400px 400px;
    column-gap: 100px;
  }
  body .countries_card_container a {
    text-decoration: none;
  }
  body .countries_card {
    transition: 0.5s;
    text-decoration: none;
    margin-left: 30px;
    width: 280px;
    height: 350px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #37383b;
    border-radius: 20px;
    margin-top: 20px;
  }
  body .countries_card img {
    transition: 0.5s;
    border-radius: 30px;
    padding: 20px;
    width: 200px;
    height: 130px;
  }
  body .countries_card:hover {
    transition: 0.5s;
    border-radius: 30px;
    margin-left: 25px;
    width: 290px;
    height: 360px;
    margin-top: 15px;
  }
  body .countries_card:hover h2 {
    transition: 0.5s;
    font-size: 30px;
    color: #f7e7d3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 10px #8b8b8b;
  }
  body .countries_card:hover p {
    transition: 0.5s;
    font-size: 30px;
    width: 250px;
    color: #f7e7d3;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 0px 0px 10px #8b8b8b;
  }
  body .countries_card:hover h3 {
    transition: 0.5s;
    font-size: 20px;
    color: #f7e7d3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  body .countries_card:hover img {
    transition: 0.5s;
    border-radius: 30px;
    padding: 20px;
    width: 210px;
    height: 140px;
  }
  body .container_nav_2 {
    background-color: #2c2c2c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  body .container_nav_2 h1 {
    color: #f7e7d3;
    font-size: 50px;
  }
  body .container_nav_2 .boton_inicio {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    justify-items: center;
    text-align: center;
    height: 40px;
    width: 150px;
    color: #f7e7d3;
    background-color: #2264AB;
    position: relative;
    right: 350px;
    text-decoration: none;
  }
  body .container_nav_2 .boton_inicio:hover {
    transition: 0.5s;
    background-color: #1c538d;
  }
  body .container_nav_2 .boton_agregar {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    justify-items: center;
    text-align: center;
    height: 40px;
    width: 150px;
    color: #f7e7d3;
    background-color: #2264AB;
    position: relative;
    left: 350px;
    text-decoration: none;
  }
  body .container_nav_2 .boton_agregar:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: #1c538d;
  }
  body .container_vacio {
    position: absolute;
    top: 40%;
    left: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .container_vacio .ups {
    font-size: 100px;
  }
  body .container_vacio button {
    transition: 1s;
    font-size: 30px;
    font-weight: 00;
    border: 0;
    border-radius: 10px;
    height: 60px;
    width: 250px;
    background-color: #f7e7d3;
  }
  body .container_vacio button:hover {
    transition: 1s;
    background-color: #b8ab9c;
  }
  body .container_nav {
    background-color: #3b3b3b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  body .container_nav .buscador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  body .container_nav .buscador input {
    border-radius: 4px;
    height: 25px;
    width: 200px;
    border: 0;
    background-color: white;
    text-align: center;
  }
  body .container_nav .buscador input:focus {
    border: none;
    outline: none;
  }
  body .container_nav .buscador input:active {
    border: none;
    outline: none;
  }
  body .container_nav .buscador button {
    transition: 0.5s;
    border: 0;
    border-radius: 4px;
    height: 30px;
    width: 90px;
    color: #f7e7d3;
    margin-right: 30px;
    background-color: #2264AB;
  }
  body .container_nav .buscador button:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: #1c538d;
  }
  body .container_nav .filtrosa {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  body .container_nav .filtrosa select {
    color: #f7e7d3;
    background-color: #585858;
    border: 0;
    height: 25px;
    width: 150px;
    text-align: center;
    border-radius: 3px;
  }
  body .container_nav .filtrosa select:hover {
    cursor: pointer;
  }
  body .container_nav .filtrosa .boton_reset {
    transition: 0.5s;
    font-weight: 700;
    position: absolute;
    right: 160px;
    top: 130px;
    background-color: #ad3b3b;
    height: 40px;
    width: 130px;
    border: 0;
    color: #f7e7d3;
    border-radius: 10px;
  }
  body .container_nav .filtrosa .boton_reset:hover {
    transition: 0.5s;
    cursor: pointer;
    color: #e6e6e6;
    background-color: #8a1212;
    box-shadow: 0px 0px 5px #5e5e5e;
  }
  body .detail_super {
    height: 100vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1900' height='2000' preserveAspectRatio='none' viewBox='0 0 1900 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1080%26quot%3b)' fill='none'%3e%3crect width='1900' height='2000' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M 0%2c566 C 126.8%2c465.2 380.4%2c44 634%2c62 C 887.6%2c80 1014.8%2c604 1268%2c656 C 1521.2%2c708 1773.6%2c388.8 1900%2c322L1900 2000L0 2000z' fill='rgba(26%2c 86%2c 149%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c1236 C 95%2c1134.2 285%2c771 475%2c727 C 665%2c683 760%2c980.8 950%2c1016 C 1140%2c1051.2 1235%2c858.8 1425%2c903 C 1615%2c947.2 1805%2c1170.2 1900%2c1237L1900 2000L0 2000z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c1712 C 126.8%2c1658.2 380.4%2c1421.6 634%2c1443 C 887.6%2c1464.4 1014.8%2c1781.6 1268%2c1819 C 1521.2%2c1856.4 1773.6%2c1667.8 1900%2c1630L1900 2000L0 2000z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1080'%3e%3crect width='1900' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body .detail_super .detail_volver {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    justify-items: center;
    text-align: center;
    height: 40px;
    width: 150px;
    color: #f7e7d3;
    background-color: #2264AB;
    position: absolute;
    left: 130px;
    top: 30px;
    text-decoration: none;
  }
  body .detail_super .detail_volver:hover {
    transition: 0.5s;
    background-color: #1c538d;
  }
  body .detail_super .detail_container {
    color: #f7e7d3;
    border-radius: 20px;
    width: 700px;
    height: 800px;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body .detail_super .detail_container img {
    padding-top: 30px;
    width: 500px;
  }
  body .detail_super .detail_container h1 {
    color: #f7e7d3;
  }
  body .detail_super #actividades_a {
    border-radius: 20px;
    background-color: #3b3b3b;
    width: 300px;
    height: 800px;
    align-items: center;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
  }
  body .detail_super #actividades_a #lokih {
    margin-top: 30px;
    color: #f7e7d3;
    font-size: 40px;
  }
  body .detail_super #activitis {
    font-size: 20px;
    padding: 0;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .detail_super .nuse {
    background-color: #464646;
    width: 15vw;
    height: 13vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    color: #f7e7d3;
  }
  body .detail_super .detail_texto {
    font-size: 20px;
    display: flex;
    color: #f7e7d3;
  }
  body .detail_super .detail_texto #afsgd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
  }
  body .detail_super .detail_texto #afsy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
  }
  body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1900' height='10000' preserveAspectRatio='none' viewBox='0 0 1900 10000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1900' height='10000' x='0' y='0' fill='rgba(21%2c 39%2c 57%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c1345 C 76%2c1217 228%2c703.4 380%2c705 C 532%2c706.6 608%2c1312.6 760%2c1353 C 912%2c1393.4 988%2c826.2 1140%2c907 C 1292%2c987.8 1368%2c1935 1520%2c1757 C 1672%2c1579 1824%2c365 1900%2c17L1900 10000L0 10000z' fill='rgba(10%2c 64%2c 120%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c2998 C 95%2c3103 285%2c3568.8 475%2c3523 C 665%2c3477.2 760%2c2801.6 950%2c2769 C 1140%2c2736.4 1235%2c3455.8 1425%2c3360 C 1615%2c3264.2 1805%2c2504 1900%2c2290L1900 10000L0 10000z' fill='rgba(26%2c 86%2c 149%2c 0.82)'%3e%3c/path%3e%3cpath d='M 0%2c5663 C 76%2c5471.2 228%2c4737.6 380%2c4704 C 532%2c4670.4 608%2c5492.8 760%2c5495 C 912%2c5497.2 988%2c4758.4 1140%2c4715 C 1292%2c4671.6 1368%2c5314 1520%2c5278 C 1672%2c5242 1824%2c4683.6 1900%2c4535L1900 10000L0 10000z' fill='rgba(14%2c 47%2c 81%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c6063 C 95%2c6272.8 285%2c6970 475%2c7112 C 665%2c7254 760%2c6604.6 950%2c6773 C 1140%2c6941.4 1235%2c8018.6 1425%2c7954 C 1615%2c7889.4 1805%2c6750.8 1900%2c6450L1900 10000L0 10000z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c8227 C 190%2c8549.4 570%2c9746 950%2c9839 C 1330%2c9932 1710%2c8921.4 1900%2c8692L1900 10000L0 10000z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1900' height='10000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }
  body .act_container_paises {
    width: 300px;
    border-radius: 20px;
  }
  body #paisesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3b3b3b;
  }
  body .act_buscador_pa {
    width: 700PX;
  }
  body .act_lista {
    justify-content: center;
    width: 700px;
    display: grid;
    grid-template-columns: 8vw 8vw 8vw 8vw;
    grid-template-rows: 10vh 10vh 10vh ;
    gap: 2vw;
    padding: 0;
    background-color: #3b3b3b;
    padding-bottom: 30px;
    border-radius: 10px;
  }
  body .act_lista li {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    list-style: none;
  }
  body .act_lista li span {
    transition: 0.5s;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    width: 80px;
    height: 25px;
    background-color: #7a7a7a;
    border-radius: 5px;
  }
  body .act_lista li span:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: #494949;
  }
  body #error_name {
    color: red;
    margin-top: 10px;
  }
  body #error_tempo {
    color: red;
  }
  body #error_dura {
    color: red;
    margin-top: 10px;
  }
  body #dif_tet {
    margin-left: 20px;
    background-color: #7a7a7a;
    width: 30px;
    border-radius: 4px;
    text-align: center;
    border-radius: 100px;
  }
  body .act_volver {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    justify-items: center;
    text-align: center;
    height: 40px;
    width: 150px;
    color: #f7e7d3;
    background-color: #2264AB;
    position: absolute;
    left: 130px;
    top: 30px;
    text-decoration: none;
  }
  body .act_volver:hover {
    transition: 0.5s;
    background-color: #1c538d;
  }
  body #achsae {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  body #achsae h4 {
    font-size: 30px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  body #achsae #labasl {
    display: flex;
    flex-direction: row;
  }
  body #achsae #labasl #pais_act {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
  }
  body #achsae #labasl #pais_act:focus,
  body #achsae #labasl #pais_act input:focus {
    outline: none;
    background-color: #575757;
  }
  body #achsae #labasl #pais_act #bpais {
    text-align: center;
    width: 200px;
  }
  body #achsae #labasl #tempo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
  }
  body #achsae #labasl #tempo select {
    font-size: 17px;
    color: #c7c7c7;
    border: 0;
    background-color: #7a7a7a;
    text-align: center;
    border-radius: 10px;
    width: 200px;
  }
  body #achsae #labasl #tempo select::placeholder {
    color: #c7c7c7;
  }
  body #achsae #labasl button {
    height: 30px;
  }
  body #achsae #labasl select {
    height: 30px;
  }
  body #achsae #labasl input {
    color: #d6d6d6;
    border: 0;
    background-color: #7a7a7a;
    text-align: center;
    width: 100px;
  }
  body #achsae #labasl input::placeholder {
    color: #c7c7c7;
  }
  body #achsae label {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  body #achsae input {
    color: #d6d6d6;
    font-size: 17px;
    border: 0;
    background-color: #7a7a7a;
    text-align: center;
    border-radius: 10px;
    height: 40px;
    width: 500px;
  }
  body #achsae input::placeholder {
    color: #c7c7c7;
  }
  body #achsae input:focus,
  body #achsae input input:focus {
    outline: none;
    background-color: #575757;
  }
  body #activity_container {
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  body #activity_container h1 {
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  body .act_container {
    color: #f7e7d3;
    border-radius: 20px;
    margin-top: 0px;
    margin-left: 350px;
    height: 610px;
    width: 700px;
    background-color: #3b3b3b;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  body #pais_act input {
    height: 27px;
  }
  body #difff {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  body #difff label {
    font-size: 16px;
    text-align: center;
  }
  body #difff input {
    width: 200px;
    margin-left: 20px;
  }
  body #difff input:hover {
    cursor: pointer;
  }
  body #namesa:focus,
  body #namesa input:focus {
    outline: none;
    background-color: #575757;
  }
  body #lastone {
    transition: 0.5s;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    justify-items: center;
    text-align: center;
    height: 70px;
    width: 200px;
    color: #f7e7d3;
    font-size: 20px;
    background-color: green;
    position: absolute;
    left: 1130px;
    top: 20vh;
    text-decoration: none;
  }
  body #lastone:hover {
    transition: 0.5s;
    background-color: #015801;
    cursor: pointer;
  }
  body #actividaddos {
    color: #f7e7d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 300px;
    margin-left: 30px;
    margin-bottom: 0px;
    border-radius: 20px;
    background-color: #3b3b3b;
  }
  body #actividaddos h4 {
    margin: 0;
    margin-top: 10px;
  }
  body #actividaddos #qleado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body #actividaddos #paisesContainer2 {
    display: flex;
    flex-direction: column;
  }
  body #actividaddos li {
    list-style: none;
  }
  body #actividaddos ul {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
  }
  body .act_lista_2 {
    border-radius: 15px;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
  }
  body .act_lista_2 li {
    margin-left: 80px;
    height: 45px;
    display: flex;
    flex-direction: row;
    width: 300px;
  }
  body .act_lista_2 .act_delete {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    text-align: center;
    margin-right: 10px;
    background-color: red;
    width: 20px;
    height: 20px;
  }
  body .act_lista_2 .act_delete:hover {
    cursor: pointer;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  body::-webkit-scrollbar {
    display: none;
  }
  body #landing_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #959595;
    background: #F7F7F7;
    background: -moz-linear-gradient(left, #F7F7F7 0%, #f7e7d3 52%, #F7F7F7 100%);
    background: -webkit-linear-gradient(left, #F7F7F7 0%, #f7e7d3 52%, #F7F7F7 100%);
    background: linear-gradient(to right, #F7F7F7 0%, #f7e7d3 52%, #F7F7F7 100%);
    width: 700px;
    height: 530px;
  }
  body .landind_container {
    width: 100%;
    height: 100vh;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #585858;
    background: -moz-radial-gradient(center, #585858 0%, #464646 34%, #000000 100%);
    background: -webkit-radial-gradient(center, #585858 0%, #464646 34%, #000000 100%);
    background: radial-gradient(ellipse at center, #585858 0%, #464646 34%, #000000 100%);
  }
  body .landind_container h1 {
    color: #f7e7d3;
    font-size: 100px;
    margin: 0;
  }
  body .landind_container h2 {
    margin: 0;
    margin-bottom: 30px;
    color: #f7e7d3;
    font-size: 50px;
  }
  body .landind_container a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #f7e7d3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 150px;
    height: 50px;
    background-color: #1c7cba;
    font-size: x-large;
  }
  body .landind_container a:hover {
    background-color: #175d8b;
    color: #faedde;
  }
  body .landind_container img {
    border-radius: 1px;
    padding-top: 30px;
    width: 600px;
  }
  body .paginator_container {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #3b3b3b;
    color: #f7e7d3;
    text-align: center;
    text-decoration: none;
  }
  body .paginator_container p {
    width: 150px;
  }
  body .paginator_container #desp {
    font-size: 18px;
    border: none;
    height: 30px;
    width: 100px;
    background-color: #f4fbff;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-border-radius: 0px 70px 70px 0px;
    -moz-border-radius: 0px 70px 70px 0px;
    border-radius: 0px 70px 70px 0px;
  }
  body .paginator_container #desp:hover {
    background-color: #aeb4bb;
    cursor: pointer;
  }
  body .paginator_container #antes {
    font-size: 18px;
    border: none;
    height: 30px;
    width: 100px;
    background-color: #e4f4ff;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-border-radius: 70px 0px 0px 70px;
    -moz-border-radius: 70px 0px 0px 70px;
    border-radius: 70px 0px 0px 70px;
  }
  body .paginator_container #antes:hover {
    background-color: #aeb4bb;
    cursor: pointer;
  }
  body .countries_card_container {
    justify-content: center;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 300px 300px 300px;
  }
  body .countries_card {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b9b9b9;
    border-radius: 6px;
  }
  body .countries_card img {
    margin-top: 30px;
    width: 200px;
    height: 130px;
  }
  body #container_landing {
    width: 100%;
    height: 100vh;
    background-image: url("../components/img/28e6c686522a710e0e3a3c5e17ec5a31.jpg");
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(7px);
  }
  body .container_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: auto;
    background-color: #3b3b3b;
    color: #f7e7d3;
    text-align: center;
    text-decoration: none;
  }
  body .container_footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  body .container_footer #redes {
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body .container_footer #redes ul {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
  }
  body .container_footer #redes ul li {
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 10px;
  }
  body .container_footer #redes ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f7e7d3;
  }
  body .container_footer #redes ul li a:hover {
    background-color: #7a7a7a;
    border-radius: 30px;
    color: #f7e7d3;
    transition: 1s;
  }
}
@media only screen and (min-width: 701px) and (max-width: 999px) {
  body::-webkit-scrollbar {
    display: none;
  }
  body #landing_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #959595;
    background: #F7F7F7;
    background: -moz-linear-gradient(left, #F7F7F7 0%, #f7e7d3 52%, #F7F7F7 100%);
    background: -webkit-linear-gradient(left, #F7F7F7 0%, #f7e7d3 52%, #F7F7F7 100%);
    background: linear-gradient(to right, #F7F7F7 0%, #f7e7d3 52%, #F7F7F7 100%);
    width: 700px;
    height: 530px;
  }
  body .landind_container {
    width: 100%;
    height: 100vh;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #585858;
    background: -moz-radial-gradient(center, #585858 0%, #464646 34%, #000000 100%);
    background: -webkit-radial-gradient(center, #585858 0%, #464646 34%, #000000 100%);
    background: radial-gradient(ellipse at center, #585858 0%, #464646 34%, #000000 100%);
  }
  body .landind_container h1 {
    color: #f7e7d3;
    font-size: 100px;
    margin: 0;
  }
  body .landind_container h2 {
    margin: 0;
    margin-bottom: 30px;
    color: #f7e7d3;
    font-size: 50px;
  }
  body .landind_container a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #f7e7d3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 150px;
    height: 50px;
    background-color: #1c7cba;
    font-size: x-large;
  }
  body .landind_container a:hover {
    background-color: #175d8b;
    color: #faedde;
  }
  body .landind_container img {
    border-radius: 1px;
    padding-top: 30px;
    width: 600px;
  }
  body .paginator_container {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #3b3b3b;
    color: #f7e7d3;
    text-align: center;
    text-decoration: none;
  }
  body .paginator_container p {
    width: 150px;
  }
  body .paginator_container #desp {
    font-size: 18px;
    border: none;
    height: 30px;
    width: 100px;
    background-color: #f4fbff;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-border-radius: 0px 70px 70px 0px;
    -moz-border-radius: 0px 70px 70px 0px;
    border-radius: 0px 70px 70px 0px;
  }
  body .paginator_container #desp:hover {
    background-color: #aeb4bb;
    cursor: pointer;
  }
  body .paginator_container #antes {
    font-size: 18px;
    border: none;
    height: 30px;
    width: 100px;
    background-color: #e4f4ff;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-border-radius: 70px 0px 0px 70px;
    -moz-border-radius: 70px 0px 0px 70px;
    border-radius: 70px 0px 0px 70px;
  }
  body .paginator_container #antes:hover {
    background-color: #aeb4bb;
    cursor: pointer;
  }
  body .countries_card_container {
    justify-content: center;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 300px 300px 300px;
  }
  body .countries_card {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b9b9b9;
    border-radius: 6px;
  }
  body .countries_card img {
    margin-top: 30px;
    width: 200px;
    height: 130px;
  }
  body #container_landing {
    width: 100%;
    height: 100vh;
    background-image: url("../components/img/28e6c686522a710e0e3a3c5e17ec5a31.jpg");
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(7px);
  }
  body .container_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: auto;
    background-color: #3b3b3b;
    color: #f7e7d3;
    text-align: center;
    text-decoration: none;
  }
  body .container_footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  body .container_footer #redes {
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body .container_footer #redes ul {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
  }
  body .container_footer #redes ul li {
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 10px;
  }
  body .container_footer #redes ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f7e7d3;
  }
  body .container_footer #redes ul li a:hover {
    background-color: #7a7a7a;
    border-radius: 30px;
    color: #f7e7d3;
    transition: 1s;
  }
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
  body #landing_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #959595;
    background: #F7F7F7;
    background: -moz-linear-gradient(left, #F7F7F7 0%, #f7e7d3 52%, #F7F7F7 100%);
    background: -webkit-linear-gradient(left, #F7F7F7 0%, #f7e7d3 52%, #F7F7F7 100%);
    background: linear-gradient(to right, #F7F7F7 0%, #f7e7d3 52%, #F7F7F7 100%);
    width: 90%;
    height: 40%;
  }
  body .landind_container {
    width: 100%;
    height: 100vh;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #585858;
    background: -moz-radial-gradient(center, #585858 0%, #464646 34%, #000000 100%);
    background: -webkit-radial-gradient(center, #585858 0%, #464646 34%, #000000 100%);
    background: radial-gradient(ellipse at center, #585858 0%, #464646 34%, #000000 100%);
  }
  body .landind_container h1 {
    color: #f7e7d3;
    font-size: 70px;
    margin: 0;
  }
  body .landind_container h2 {
    margin: 0;
    margin-bottom: 30px;
    color: #f7e7d3;
    font-size: 40px;
  }
  body .landind_container a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #f7e7d3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 60%;
    height: 20%;
    background-color: #1c7cba;
    font-size: x-large;
  }
  body .landind_container a:hover {
    background-color: #175d8b;
    color: #faedde;
  }
  body .landind_container img {
    border-radius: 1px;
    padding-top: 10px;
    width: 80%;
  }
  body .paginator_container {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #3b3b3b;
    color: #f7e7d3;
    text-align: center;
    text-decoration: none;
  }
  body .paginator_container p {
    width: 100px;
    font-size: 14px;
  }
  body .paginator_container #desp {
    font-size: 18px;
    border: none;
    height: 30px;
    width: 100px;
    background-color: #f4fbff;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-border-radius: 0px 70px 70px 0px;
    -moz-border-radius: 0px 70px 70px 0px;
    border-radius: 0px 70px 70px 0px;
  }
  body .paginator_container #desp:hover {
    background-color: #aeb4bb;
    cursor: pointer;
  }
  body .paginator_container #antes {
    font-size: 18px;
    border: none;
    height: 30px;
    width: 100px;
    background-color: #e4f4ff;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-border-radius: 70px 0px 0px 70px;
    -moz-border-radius: 70px 0px 0px 70px;
    border-radius: 70px 0px 0px 70px;
  }
  body .paginator_container #antes:hover {
    background-color: #aeb4bb;
    cursor: pointer;
  }
  body .countries_card_container {
    justify-content: center;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 300px 300px 300px;
  }
  body .countries_card {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b9b9b9;
    border-radius: 6px;
  }
  body .countries_card img {
    margin-top: 30px;
    width: 200px;
    height: 130px;
  }
  body #container_landing {
    width: 100vh;
    height: 100vh;
    background-image: url("../components/img/28e6c686522a710e0e3a3c5e17ec5a31.jpg");
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(7px);
  }
  body .container_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: auto;
    background-color: #3b3b3b;
    color: #f7e7d3;
    text-align: center;
    text-decoration: none;
  }
  body .container_footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  body .container_footer #redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body .container_footer #redes ul {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
  }
  body .container_footer #redes ul li {
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 10px;
  }
  body .container_footer #redes ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f7e7d3;
  }
  body .container_footer #redes ul li a:hover {
    background-color: #7a7a7a;
    border-radius: 30px;
    color: #f7e7d3;
    transition: 1s;
  }
}
